<h1>Edit a Student</h1>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :class_number %>
  <%= f.text_field :class_number %>
  <br>
  <%= f.submit %>
  <% end %>
