<h1>Create a Student</h1>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :class_number %>
  <%= f.text_field :class_number %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :img_url %>
  <%= f.text_field :img_url %>

  <%= f.submit "Sign up"%>
  <% end %>
