<h1>Create a Student</h1>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :mod %>
  <%= f.text_field :mod %>
  <br>
  <%= f.label :username %>
  <%= f.text_field :username %>
  <br>
  <%= f.label :password %>
  <%= f.text_field :password %>
  <%= f.submit "Sign up"%>
  <% end %>
