<h2>Plank Info:</h2>

Type: <%= @plank.planktype %>
<hr>
<% @plank.students.each do |student| %>
  <%= student.name %>: <%= student.student_planks.select { |sp| sp.plank_id == @plank.id }[0].duration %><br>
  <% end %>
  <br>
<br>
<% if current_student.id == 5 %>
  <%= link_to "Edit Plank", edit_plank_path(@plank) %>
  <%= link_to 'Delete Plank', plank_path(@plank), method: :delete,
data: { confirm: 'Are you sure?' } %>
<% end %>
